* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
/* ----- GENERAL RULES ----- */
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.txt-right {
  text-align: right;
}
/* Buttons */
.app-btn {
  display: inline-block;
  padding: 10px 20px; 
  background-color: rgb(235, 0, 141);
  border-radius: 999px;
}
.app-btn[href] {
 color: #fff;
 transition: all 0.2s ease;
}
.app-btn[href]:hover {
  color: #fff;
  background-color: #D2007E;
}
/* ---- MAIN PAGE ----- */
.page-wrapper {
  /* width: 80%; */
  max-width: 1300px;
  padding-left: 4%;
  padding-right: 4%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px;
  width: 100%;
  height: 80px;
  background: white;
  border-bottom: 1px solid #efefef;
  font-size: 18px;
}
/*-------- HEADER LEFT -----------*/
.header-left ul,
.header-right nav,
.header-right ul {
  display: flex;
  align-items: center;
}
.header-right li {
  margin-left: 20px;
}
.header-left > ul li {
  margin-right: 20px;
}

/*-------- HEADER RIGHT -----------*/
.hamburger-menu a,
.header-left .left-link a,
.header-right a {
  color: rgb(139, 149, 158);
  transition: color 0.2s;
}
.hamburger-menu a:hover,
.header-right a:hover {
  color: #191C1F;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 30px;
  left: -10px;
  display: none;
  background-color: #fff;
  box-shadow: 0 0 10px grey;
}
.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.dropdown-menu ul li {
  margin-left: 0;  /* reset prop */
  padding: 10px;
  white-space: nowrap;
  padding: 15px 20px;

}

.is-active {
  display: block;
}

.header-right .app-btn {
  margin-left: 15px;
}
/* ------ Hamburger Menu ----- */
.hamburger,
.hamburger-dropdown-menu {
  display: none;
}
.hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 20px;
    width: 100%;
    height: 100%;
    /* sembra sia causa scroll fantasma */
    /* min-width: 100vw; */
    min-height: 100vh;
    background: #fff;
    /* debug scroll fantasma */
    /* overflow-x: hidden;   */
}
.hamburger-menu li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
  
}
.hamburger-menu .business {
  border-bottom: 1px solid #efefef;
}
.fl-bas-50 {
  flex-basis: 50%;
}

.hamburger-dropdown ul {
  padding-top: 15px;
}
.hamburger-dropdown li {
  padding: 12px 0;
}
.hamburger-menu .app-btn-cont {
  margin-top: 30px;
  text-align: center;
}
/*--------- Media Query -----------*/
@media screen and (max-width: 1080px) {
  .hamburger {
    display: block;
  }

  .header-left .left-link,
  .header-right > nav {
    display: none;
  }

  .hamburger-dropdown-menu.active,
  .hamburger-menu.active {
      display: block;
  }
}